# IDE
*.pyc
__pycache__/*.pyc
.idea/

# Migrations
#minimal_pair/migrations/*.py
#!minimal_pair/migrations/*.py
#ipa_board/migrations/*
#!ipa_board/migrations/__init__.py
#quiz/migrations/*
#!quiz/migrations/__init__.py
#user/migrations/*
#!user/migrations/__init__.py

# test
htmlcov/
/.coverage
/.coveragerc

# prod
vocal_trainer/settings/production.py

# conf
newrelic.ini

# virtual environments
env/*
