# IDE
*.pyc
__pycache__/*.pyc
.idea/

# Migrations
training/migrations/*.py
!training/migrations/__init__.py
api_board/migrations/*
!api_board/migrations/__init__.py
quiz/migrations/*
!quiz/migrations/__init__.py
user/migrations/*
!user/migrations/__init__.py

# test
htmlcov/
/.coverage
/.coveragerc


# prod
vocal_trainer/settings/production.py

# conf
newrelic.ini

# virtual environments
env/*
