
.checkbox input[type="checkbox"] {
    opacity: 0;
}

input[type="radio"] {
  display: none;
}

.index_btn {
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 15px 25px;
    text-align: center;
    display:inline-block;
    position:relative;
    border-radius: 0.25rem;
    margin-bottom: 1em;
    width: 100%;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
}

.green {
    background: #7abfaa;
    color: #000000;
    font-variant: small-caps;
    width:100%;
}

.green:hover {
    background:#13d7ae;
}

.green:active, .green:focus{
    background:#0fae8d;
}

label {
  cursor: pointer;
  font-size: 1.5rem;
  height: 100%;
  width: 70%;
  display: block;
  background: white;
  border: 2px solid hsl(208, 36.1%, 32.5%);
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}

.minimal_pair_label {
  border: 1px solid #120f40;
  text-align: center;
  border-radius: 2px;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  background-color: rgb(48, 63, 77, 0.6);
  color: white;
}

.training_button {
  border: 2px solid black;
  background-color: #1f478c;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
}

.minimal_pair_label:hover {
  font-weight: bold;
}

.training_button:hover {
  background-color : #0f2140;
}

input[type="radio"]:checked + label {
  background: hsl(186.1, 43.6%, 60.4%);
  color: hsla(215, 0%, 100%, 1);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    border: 2px solid hsla(150, 75%, 45%, 1);
    position: absolute;
  }
}

.quiz_answer_label {
   font-size: 1.25rem;
}

.quiz_answer_label:hover {
   font-weight: bold;
}

.quiz_title_padding {
    padding: 1.5em;
}

.quiz_next_btn {
    color: #160b54
    padding: 1rem;
    margin-bottom: 2em;
    width: 8%;
    float: right;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 600;
    text-align: center;
}

.quiz_next_btn:hover {
  color: #7d7b8a;
}


.quiz_finish_btn, .save_score_button {
  background:rgb(28, 156, 51, 0.5);
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: 1.25rem;
  width : 80%;
  font-variant: small-caps;
  border: 2px solid transparent;
}

.quiz_finish_btn:hover, .save_score_button:hover {
    font-weight: bold;
}

.form-group a:hover {
    text-decoration: none;
}

.quiz_replay_sound {
    background:#dfffff;
    padding: 1em;
    margin: 1em;
    width: 18%;
    float: left;
    cursor: pointer;
    font-size: 1.5 em;
    text-align: center;
    border-radius: .30rem;
    border: 2px solid #3d343e;
}

.quiz_replay_sound:hover {
   font-weight: bold;
}

.score {
    font-size:1.2em;
}

.score_right_answer {
   color: green;
}

.score_wrong_answer {
   color:red;
   text-decoration: line-through;
}

.score_answer:hover, .score_wrong_answer:hover  {
    font-weight: bold;
    cursor: pointer;
}

.phoneme_btn {
    border: 2px solid transparent;
    font-size: 2rem;
    padding: 25px 25px;
    text-align: center;
    display:inline-block;
    position:relative;
    border-radius: .25rem;
}

.phoneme_btn:hover {
    font-weight: bold;
}

.transparent {
    background:none;
    box-shadow:none;
    text-shadow:none;
    color:#000;
}

.red.transparent{
    border-color:#e84c3d;
}

/* in order not to letters to be in
   small caps like the other button titles */
.minimal_pair_menu_button {
  font-variant: normal;
}

.sound {
    width: 10%
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container>div {
  flex: 0 50%;
  box-sizing:border-box
}

.card-font {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.15rem;
  background-color: rgb(223, 242, 242, 0.8);
}

.background {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.2) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/ny_background.jpeg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

}

.center_horizontally {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.app_title {
    padding: 8rem;
}

.consonant_sub_group {
   border-radius: 1em;
   padding: 1em;
   box-shadow: 1px 2px 2px rgba(155, 184, 206, .8);
   background-color: #B7DAF4;
   height: 4rem;
   margin: 1.5rem;
}

.phoneme_letter_style {
    font-size: 1.3rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}

.vowel_letter_style {
    font-size: 1.5rem;
}

.phoneme_letter_style:hover, .listen-button:hover, .vowel_letter_style:hover {
    font-weight: bold;
    cursor: pointer;
}

.info-section-consonant-title {
    color: #7B63A8;
    font-weight: bold;
    font-size: 1.15rem;
}

.subtype_section {
    font-size: 1.2rem;
}

.footer_padding {
  padding-bottom: 7em;
}

.page_title_padding {
  margin-top: 4em;
  margin-bottom: 2em;
}


.schema_section {
  border-radius: 2em;
  position: relative;
  width: 100%;
  height: 400px;
}

.breadcrumbs {
  font-size: 0.75rem;
  margin-bottom: 2em;
  text-align: left;
  padding-left: 1.5rem;
}

#warning_browser, #warning_voices {
  display: none;
  color:grey;
}

.score_history_menu {
  margin-top: 1rem;
  border: 2px solid black;
  box-shadow: 1px 1px 10px #a3a3a3 inset;
  padding: 1em;
  background: white;
}

.score_history_menu a {
    color:#000000;
    text-decoration: none;
    font-variant: small-caps;
}

.score_history_menu a:hover {
    color:#000000;
    font-weight : bold;
    text-decoration: none;
}

.score_history_menu ul {
    color:#000000;
    list-style: none;
    margin-left:0;
    padding-left:0;
    display: inline-block;
}

.score_history_menu ul li {
    font-size:0.8rem;
    list-style: none;
}

.diagram-letter {
    border-radius: 50%;
    position: absolute;
    width: 8%;
    height:8%;
    background-color:rgba(219, 180, 190, 0.5);
}


@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
  .quiz_next_btn {
    width: 100%;
  }

  .consonant_sub_group {
        height: 9rem;
  }

  .quiz_replay_sound {
    width: 100%;
}
  }

@media only screen and (min-width: 701px) and (max-width: 900px) {
  .consonant_sub_group {
        height: 7rem;
  }
}

@media only screen and (max-width: 600px) {
  .page_title_padding {
     margin-top: 2.5em;
     font-size: 1.75em;
  }
}

@media only screen and (max-width: 1000px) {
  .quiz_replay_sound {
    width: 45%;
   }
}

@media only screen and (min-width: 800px) {
  .score_history_menu ul li {
    font-size:0.8rem;
    list-style: none;
    display: inline;
    padding-right:1em;
    padding-left:1em;
   }
}

@media only screen and (min-width: 576px) {
  .equal_icon {
     padding-bottom : 2rem;
     padding-bottom : 1rem;
}