.index_btn {
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
     border-radius: .25rem;
}

.green {
    background:#10bc98;
    color: #000000;
    box-shadow: 0 3px 0 #0c8d72;
}
.green:hover{
    background:#13d7ae;
}
.green:active, .green:focus{
    background:#0fae8d;
}

.sound {
    width: 10%
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container>div {
  flex: 0 50%;
  box-sizing:border-box
}

.index_background {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.2) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/background_index.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
}

.board_background {
    background: linear-gradient(70deg, #206359, #9bd4cb);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav_bar_style {

}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

}

.center_horizontally {

  margin: auto;
  width: 50%;
  padding: 10px;
}

.app_title {
padding: 8rem;
}

.consonant_sub_group {
   border-radius: 1em;
   padding: 1em;
   box-shadow: 1px 2px 2px rgba(155, 184, 206, .8);
   background-color: #B7DAF4;
   height: 4rem;
   margin: 1.5rem;
}

.phoneme_letter_style {
    font-size: 1.3rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}

.diphthong_letter_style {
    font-size: 1.5rem;
}


.phoneme_letter_style:hover, .listen-button:hover, .diphthong_letter_style:hover {
    font-weight: bold;
    cursor: pointer;
}

.info-section-consonant-title {
    color: #7B63A8;
    font-weight: bold;
    font-size: 1.15rem;
}

.subtype_section {
    font-size: 1.2rem;
}

.footer_padding {
  padding-bottom: 7em;
}

.page_title_padding {
  padding: 3em;
}

.trapezoid {
    border-bottom: 1px solid red;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    height: 0;
    width: 100px;
}

.tranform {
    transform: rotate(45deg);
    }