{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="container-fluid footer_padding board_background justify-content-center">

<div id="content">
  <div class="text-center  text-white">
    <h2 class="page_title_padding">Quiz </h2>
  </div>

<div class="container mx-auto card o-hidden border-0 shadow my-5" style="height: 500px;">
  <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card-body p-0">


           <h2 class="text-center quiz_title_padding">Sélectionnez le bon mot</h2>

        <div class="d-flex justify-content-center">
          <div id="replay_sound" class="text-center quiz_replay_sound ">
              <i class="far fa-play-circle"></i> Rejouer le son
          </div>
        </div>
            {% for sound_object in questions %}


          <form>
              <div class="row">
                <div class="radio text-center col-xs-12 col-sm-12 col-md-6 col-lg-6" id="first_answer"
                     style="padding-bottom: 2em; padding-top:2em;" >

                    <input name="answer" type="radio" id="answer_1" value="{{ sound_object.label }}" class=""
                               style="margin-bottom : 1em; margin-top: 1em; ">
                     <label for="answer_1">
                         {{ sound_object.label }}
                    </label>
                 </div>
              <div class="radio text-center col-xs-12 col-sm-12 col-md-6 col-lg-6 " id="second_answer"
                   style="padding-bottom: 2em; padding-top:2em;" >

                  <input type="radio" name="answer" id="answer_2" value="{{ sound_object.associated_sound_id.label }}"
                         style="margin-bottom : 1em; margin-top: 1em; ">
                  <label for="answer_2">
                      {{ sound_object.associated_sound_id.label }}
                     </label>
                </div>
              </div>
              </form>



          <script>
        var right_answer_place = Math.floor(Math.random() * 2);

        if (right_answer_place === 0) {
            console.log('is 0');
            var d = document.getElementById('first_answer');
            console.log(d);
            d.parentNode.appendChild(d);
        }

        </script>

          {% block jquery %}
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

          <!-- Web Speech API - text to speech -->
          <script src="{% static 'js/say.js' %}"></script>

         <script type="text/javascript">
            $(document).ready(function(){
                  say('{{ sound_object.label }}');
               });

               var audioElement = document.createElement("audio");
               $('#replay_sound').click(function(){
                 say('{{ sound_object.label }}');
                });

           </script>

          {% endblock %}

          {% endfor %}


          <div class="paginator">
            <div class="form-group">
                {%  if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}">
                    <div class="quiz_next_btn" id="next"><i class="fas fa-angle-double-right fa-lg"></i></div>
                </a>
                <!-- on click, send result -->
                {% else %}
                <a href="{% url 'quiz:score' category_id %}">
                    <button class="btn form-control btn-success" id="finish">Terminer</button>
                </a>
                <!-- on click, send result -->
                {% endif %}
            </div>

          </div>

        </div>
    </div>
</div>

</div>

</div>

<script src="{% static 'js/quiz.js' %}"></script>

{% endblock %}
