{% extends "base.html" %}
{% load static %}
{% load quiz_tools %}

{% block content %}

<div class="container-fluid footer_padding justify-content-center">

  <div id="content">
    <div class="text-center text-white">
      <h3 class="page_title_padding">Résultats</h3>
    </div>

    <div class="container col-xl-3 col-lg-4 col-md-7 col-sm-8 col-xs-10 card-font o-hidden border-0 shadow my-5">
      <div class="card-body p-0 align-content-center">
        {% include 'web_speech_api_alert.html' %}

        <!-- breadcrumbs -->
        <div class="breadcrumbs" style="margin-bottom:0.1rem;">
          <a href="{% url 'ipa_board:index' %}">Page d'accueil</a> >
          <a href="{% url 'minimal_pair:minimal_pair_menu' %}">Paires minimales</a> >
          {% if parent_category.type_name == 'Consonnes' %}
            <a href="{% url 'minimal_pair:minimal_pair_consonant_menu' %}">
                {{ parent_category.type_name }}
            </a>
          {% else %}
            <!-- voyelles -->
            <a href="{% url 'minimal_pair:minimal_pair_vowels_type_menu' %}">
                {{ parent_category.type_name }}
            </a>  >
            {% if parent_category.type_name == 'Voyelles' and phoneme_category.subtype_name == 'Diphtongues' %}
              <!-- diphthongues -->
              <a href="{% url 'minimal_pair:minimal_pair_diphthong_menu' %}">
                  {{ phoneme_category.subtype_name }}
              </a>
            {% else %}
              <!-- voyelles simples -->
              <a href="{% url 'minimal_pair:minimal_pair_simple_vowel_menu' %}">Voyelles simples</a>
            {% endif %}
          {% endif %}
        </div>

        {% include 'message.html' %}

        <h4 class="text-center" style="padding:1em;">Score : {{ score }}/{{ length_list }}</h4>

          <!-- display each response and its state (correct or false) -->
          {% for user_answer, right_answer in user_answers_label|zip:right_answers_list %}

            <div class="row score">
              <div class="col-2">
                <p >{{ forloop.counter }}</p>
              </div>
              {% if user_answer == right_answer %}
                <div class="col-2">
                  <i class="fas fa-check score_right_answer"></i>
                </div>
                <div class="col-5 text-center" >
                  <p class="score_answer score_right_answer" id="{{ forloop.counter }}_user_right_answer">

                    {{ user_answer }}
                  </p>
                </div>
              {% else %}
                <div class="col-2">
                  <i class="fas fa-times score_wrong_answer"></i>
                </div>
                <div class="col-5 text-center">
                  <p>
                    <span class="score_answer score_wrong_answer"
                          id="{{ forloop.counter }}_user_wrong_answer">
                     {{ user_answer }}
                    </span>
                    <span class="score_answer score_right_answer"
                          id="{{ forloop.counter }}_right_answer">
                      ({{ right_answer }})</span>
                  </p>
                </div>
              {% endif %}
            </div>

            <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
            <script type="text/javascript">

              var audioElement = document.createElement("audio");
              $('#{{ forloop.counter }}_user_right_answer').click(function(){
                say('{{ user_answer }}');
              });

              $('#{{ forloop.counter }}_user_wrong_answer').click(function(){
                say('{{ user_answer }}');
              });

              $('#{{ forloop.counter }}_right_answer').click(function(){
                say('{{ right_answer }}');
               });
            </script>

          {% endfor %}


          {% if user.is_authenticated %}
            <div class="text-center" id="">
              <form action="{% url 'quiz:save_results' category_id %}" role="form" method="post">
                  {% csrf_token %}
                  <button class="save_score_button quiz_finish_btn"
                          type="submit">Enregistrer
                  </button>
              </form>
            </div>
          {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}

    {{ block.super }}

{% endblock %}