{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid footer_padding board_background justify-content-center">

<div id="content">
  <div class="text-center  text-white">
    <h2 class="page_title_padding">Quiz </h2>
  </div>

<div class="container mx-auto card o-hidden border-0 shadow my-5" style="height: 500px;">
  <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card-body p-0">

  <h3>Résultat : {{ score }}/{{ length_list }}</h3>
</div>
  </div>
</div>

</div>

</div>

{% endblock %}
