{% extends "base.html" %}
{% load static %}

{% load api_board_tags %}

{% block content %}

<div class="container-fluid footer_padding board_background">

<div id="content" class="login_background">
  <div class="text-center  text-white">
    <h2 class="page_title_padding">Tableau API : Consonnes</h2>
  </div>
</div>

<div class="container my-auto justify-content-center card o-hidden border-0 shadow my-5">
  <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card-body p-0">
        <div class="row">
            <div class="col-12">
              {% include 'message.html' %}
              <div class="p-5">
                <div class="row">
                  <div class="col-12">
                      {% for consonant_title in consonants_type %}
                    <h2 class="subtype_section">{{ consonant_title.subtype_name }} </h2>


                        <div class="consonant_sub_group form-inline col-xs-12 col-sm-10 col-md-8 col-lg-8">
                            {% for phoneme in phoneme_information|phoneme:consonant_title.id %}
                            <div class="dropdown">

                            <p class="phoneme_letter_style " data-target="collapse_{{ phoneme.label }}"
                               data-toggle="dropdown" >{{ phoneme.label }} </p>

                            <div
                                 class="dropdown-menu card-body p-2"
                                 aria-labelledby="dropDownButton_{{ phoneme.label }}">
                                <form>
                                <p class="quit-cross float-right"><i class="fas fa-times"></i></p>
                                <p class="info-section-consonant-title">Consonne "{{ phoneme.label }}"</p>
                                <p id="play_{{ phoneme.label }}" class="listen-button"><i class="fas fa-volume-up"></i>  Ecouter</p>
                                <p class="info-section-consonant-title">Exemples</p>
                                    <!-- for ex in example list -->
                                    {% for example in example_words|examples:phoneme.id %}

                                <p id="play_{{ example.label }}" class="listen-button"><i class="fas fa-volume-up"></i> {{ example.label }}</p>

                                    {% block jquery %}
                                    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>


                                    <script type="text/javascript">
                                    function say(m) {
                                        var msg = new SpeechSynthesisUtterance();
                                        var voices = window.speechSynthesis.getVoices();
                                        msg.voice = voices[2];
                                        msg.voiceURI = "native";
                                        msg.volume = 1;
                                        msg.rate = 1;
                                        msg.pitch = 0.8;
                                        msg.text = m;
                                        msg.lang = 'en-US';
                                        speechSynthesis.speak(msg);
                                     }

                                    $(document).ready(function(){

                                        var consonantElement = document.createElement("audio");
                                        consonantElement.src = "{{ MEDIA_URL }}/consonants_audio/{{ phoneme.sound_file_name }}";
                                        $('#play_{{ phoneme.label }}').click(function(){
                                            consonantElement.play();
                                        });

                                        var audioElement = document.createElement("audio");
                                        $('#play_{{ example.label }}').click(function(){
                                            say('{{ example.label }}');
                                            });

                                        });


                                    </script>
                                    {% endblock %}

                                    {% endfor %}
                                </form>

                            </div>
                                </div>



                            {% endfor %}
                        </div>



                      {% endfor %}
                  </div>
                </div>
              </div>
            </div>


      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}