{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container-fluid footer_padding index_background ">

<div id="content">

        <div class="text-center text-white ">
    <h1 class="text-uppercase app_title">
         Vocal Trainer
    </h1>
        </div>


             <div class=" my-auto justify-content-center ">
                 <div class="row">
                 <div class="mx-auto justify-content-center text-center col-xs-11 col-sm-8 col-md-7 col-lg-6">
                 <form class="" role="form" method="post" action="{% url 'api_board:api_board_menu' %}">
                    {% csrf_token %}
                    <button type="submit" id="api_board_section_button" class="index_btn green" style="width:100%;" >Tableau API</button>
                </form>
                 </div>
                     </div>

                    <div class="row">
                     <div class="mx-auto justify-content-center text-center col-xs-11 col-sm-8 col-md-7 col-lg-6">
                 <form class="" role="form" method="post" action="{% url 'minimal_pair:minimal_pair_menu' %}">
                    {% csrf_token %}
                    <button type="submit" id="minimal_pair_section_button" class="index_btn green" style="width:100%;">Paires minimales</button>
                </form>
                 </div>
                     </div>

                 <div class="row">
                 <div class="mx-auto justify-content-center text-center col-xs-11 col-sm-8 col-md-7 col-lg-6">
                 <form class="" role="form" method="post" action="{% url 'api_board:consonant_table' %}" >
                    {% csrf_token %}
                    <button id="vowels_section_button" class="index_btn green" style="width:100%;">Quizz</button>
                 </form>
                 </div>
                     </div>
             </div>

        </div>

      </div>


</div>




{% endblock %}