{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container my-auto justify-content-center">

      <header class="text-center d-flex text-white">
      <div class="row">
        <div class=" mx-auto">
    <h1 class="text-uppercase text-white d-flex app_title">
         Vocal Trainer
    </h1>
             <div class="d-flex justify-content-center ">

            <button id="api_board_section_button" class="sound index_btn green col-lg-6">Tableau API</button>
            <button id="training_section_button" class="sound index_btn green col-lg-6">Entraînement</button>
            <button id="quiz_section_button" class="sound index_btn green col-lg-6">Quizz</button>
    </div>
        </div>

      </div>
      </header>



</div>



{% endblock %}