{% extends "base.html" %}
{% load static %}

{% load minimal_pair_tags %}


{% block content %}

<div class="container-fluid footer_padding justify-content-center footer_padding">

  <div id="content">
    <div class="text-center text-white page_title_padding">
      <h2>Paires minimales</h2>
      <h3>Consonnes</h3>
    </div>

    <div class="justify-content-center">
      <div class="row">
        {% for minimal_pair in minimal_pairs %}
          <div class="text-center col-xs-12 col-sm-12 col-md-4 col-lg-4">
            <form class="" role="form" method="post"
                  action="{% url 'minimal_pair:minimal_pair_table' minimal_pair.id %}">
              {% csrf_token %}
                <button type="submit" class="index_btn green minimal_pair_menu_button col-10">
                  {{ minimal_pair.phoneme.label }} //
                    {{ minimal_pair.associated_phoneme|check_if_label_exists }}
                </button>
            </form>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}