{% extends "base.html" %}
{% load static %}

{% load check_if_label_exists %}

{% block content %}



<div class="container-fluid footer_padding board_background">



<div id="content">


  <div class="text-center text-white">
    <h2 class="page_title_padding">Paires minimales : {{ category.phoneme.label }} // {{ category.associated_phoneme|check_if_label_exists }}</h2>
  </div>
</div>

<div class="container my-auto justify-content-center card o-hidden border-0 shadow my-5">

    <div class="breadcrumbs" >
        <a href="{% url 'api_board:index' %}">Index</a> >
        <a href="{% url 'minimal_pair:minimal_pair_menu' %}">Paires minimales</a> >
        {% if parent_category.type_name == 'Consonnes' %}
        <a href="{% url 'minimal_pair:minimal_pair_consonant_menu' %}">{{ parent_category.type_name }}</a>
        {% else %}
            <a href="">{{ parent_category.type_name }}</a> <!-- voyelles --> >
            {% if parent_category.type_name == 'Voyelles' and phoneme_category.subtype_name == 'Diphtongues' %}
                <a href="{% url 'minimal_pair:minimal_pair_diphthong_menu' %}">{{ phoneme_category.subtype_name }}</a> <!-- diphthongues -->
            {% else %}
                 <a href="">Voyelles simples</a>
             {% endif %}
             {% endif %}
        > {{ category.phoneme.label }} // {{ category.associated_phoneme|check_if_label_exists }}
    </div>

     <div class="row">
    <div class="d-flex mx-auto text-center col-xs-12 col-sm-12 col-md-4 col-lg-4 justify-content-center">
                <form class="" role="form" method="post" action="{% url 'quiz:quiz' category.id %}">
                    {% csrf_token %}
                    <button type="submit" id="api_board_section_button" class="index_btn green ">
                        S'entraîner</button>
                </form>
            </div>
            </div>

    <div class="row">
        <div class="col-5 text-center">
            <button  id="play_{{ category.phoneme.label }}" class="phoneme_btn red transparent">
                {{ category.phoneme.label }}</button>
        </div>
        <div class="d-flex justify-content-center col-2 align-items-center my-auto"><i class="fas fa-not-equal"></i></div>
                <div class="col-5 text-center">
            <button  id="play_{{ category.associated_phoneme.label }}" class="phoneme_btn red transparent">
                {{ category.associated_phoneme|check_if_label_exists }}</button>
        </div>
    </div>

      <div class="row">
          {% for minimal_pair in minimal_pairs %}
          {% if minimal_pair.associated_sound_id.id|divisibleby:2 %}
            <div class="col-5 text-center">
                <button  id="play_first_{{ minimal_pair.label }}" class="pair_minimal_btn">
                    <span id="{{ minimal_pair.label }}_word">{{ minimal_pair.label }}</span>
                    <span id="{{ minimal_pair.label }}_ipa_word">( {{ minimal_pair.ipa_label }} )</span>

                </button>
            </div>
          <div class="d-flex justify-content-center col-2 align-items-center my-auto"><i class="fas fa-not-equal"></i></div>
          {% else %}
          <div class="col-5 text-center">
                <button  id="play_second_{{ minimal_pair.label }}" class="pair_minimal_btn">
                    <!-- templatetag à créer pour gérer les mots qui nécessitent un traitement exceptionnel -->
                    <span id="{{ minimal_pair.label }}_associated_word">{{ minimal_pair.label }}</span>
                    <span id="{{ minimal_pair.label }}_associated_ipa_word">( {{ minimal_pair.ipa_label  }} )</span>
                </button>
            </div>
          {% endif %}


          {% with minimal_pair_phoneme_letters=minimal_pair.id|get_phoneme_letters %}

          {% with minimal_pair_ipa_letters=minimal_pair.id|get_phoneme_ipa_letters %}




        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script type="text/javascript">


           var audioElement = document.createElement("audio");
                 $('#play_first_{{ minimal_pair.label }}').click(function(){
                    say('{{ minimal_pair.label }}');
                     });
                     $('#play_second_{{ minimal_pair.label }}').click(function(){
                    say('{{ minimal_pair.label }}');
                     });


    $("#{{ minimal_pair.label }}_word:contains('{{ minimal_pair_phoneme_letters }}')").each(function () {
     $(this).html($(this).html().replace("{{minimal_pair_phoneme_letters}}",
    "<span style='color:red;'>{{minimal_pair_phoneme_letters}}</span>"));
    });

    $("#{{ minimal_pair.label }}_associated_word:contains('{{ minimal_pair_phoneme_letters }}')").each(function () {
    // if word is sees, its phoneme being s, JS colors the first s encountered by default.
    // here we move it manually to the second s encountered.
    if ("{{ minimal_pair.label }}" === 'sees') {
    $(this).html($(this).html().replace("{{ minimal_pair.label }}",
    "see<span style='color:red;'>s</span>"));
       } else {
    $(this).html($(this).html().replace("{{ minimal_pair_phoneme_letters }}",
    "<span style='color:red;'>{{ minimal_pair_phoneme_letters }}</span>"));
    }
    });

    $("#{{ minimal_pair.label }}_associated_ipa_word:contains('{{ minimal_pair.ipa_label }}')").each(function () {
    $(this).html($(this).html().replace("{{ minimal_pair_ipa_letters }}",
    "<span style='color:red;'>{{ minimal_pair_ipa_letters }}</span>"));
    });


    $("#{{ minimal_pair.label }}_ipa_word:contains('{{ minimal_pair.ipa_label }}')").each(function () {
    $(this).html($(this).html().replace("{{ minimal_pair_ipa_letters }}",
    "<span style='color:red;'>{{ minimal_pair_ipa_letters }}</span>"));
    });


                </script>
          {% endwith %}
          {% endwith %}

          {% endfor %}



      </div>

    </div>
</div>


{% endblock %}

{% block scripts %}

    {{ block.super }}
                  <!-- Web Speech API - text to speech -->
               <script src="{% static 'js/say.js' %}"></script>


              <script type="text/javascript">
               $(window).bind("load", function () {

                var phonemeElement = document.createElement("audio");
                phonemeElement.src = "{{ MEDIA_URL }}/consonants_audio/{{ category.phoneme.sound_file_name }}";
                $('#play_{{ category.phoneme.label }}').click(function(){
                  phonemeElement.play();
                });

                var associatedPhonemeElement = document.createElement("audio");
                if ($('#play_{{ category.associated_phoneme.label }}').length > 0) {
                  associatedPhonemeElement.src = "{{ MEDIA_URL }}/consonants_audio/{{ category.associated_phoneme.sound_file_name }}";
                  $('#play_{{ category.associated_phoneme.label }}').click(function(){
                    associatedPhonemeElement.play();
                  });
                }

                });


                </script>




{% endblock %}