/* css button */

// The code is a bit of a mess at the moment! Sorry about that.


.checkbox input[type="checkbox"] {
    opacity: 0;
}

input[type="radio"] {
  display: none;


}


label {
    cursor: pointer;
  font-size: 1.5rem;
  height: 100%;
  width: 70%;
  display: block;
  background: white;
  border: 2px solid hsl(208, 36.1%, 32.5%);
  border-radius: 20px;

  padding: 1rem;
  /*
  margin-bottom: 1rem;
  margin-top: 1rem;
  */

  text-align: center;
  box-shadow: 0px 3px 10px -2px hsla(150, 5%, 65%, 0.5);
  position: relative;
}


input[type="radio"]:checked + label {
  background: hsl(186.1, 43.6%, 60.4%);
  color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px hsla(258.5, 46.2%, 76.7%, 0.75);
  &::after {
    color: hsla(215, 5%, 25%, 1);
    font-family: FontAwesome;
    border: 2px solid hsla(150, 75%, 45%, 1);
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 30%;
    background: white;
    box-shadow: 0px 2px 5px -2px hsla(0, 0%, 0%, 0.25);
  }
}

.quiz_answer_label {
   font-size: 1.25rem;
}

.score_answer {
    font-size:1.5em;
}

.score_answer:hover {
    font-size:1.5em;
    text-shadow: #000000 1px 0 2px;
    cursor: pointer;
}

.quiz_next_btn {
    background:#db9c97;
    color: white;
    padding: 1rem;
    margin-bottom: 2em;
    width: 8%;
    float: right;
    cursor: pointer;
    font-size: 1.5 em;
    font-weight: 600;
    text-align: center;
    border-radius: .30rem;
    border: 2px solid #936d6d;
}

.quiz_finish_btn {
    background:#62ba2f;
    color: white;
    padding: 1rem;
    margin-bottom: 2em;
    cursor: pointer;
    font-size: 1.5 em;
    font-weight: 600;
    text-align: center;
    border-radius: .30rem;
    border: 2px solid #498f21;
}

.form-group a:hover {
    text-decoration: none;
}

.quiz_replay_sound {
    background:#dfffff;
    padding: 1em;
    margin: 1em;
    width: 15%;
    float: left;
    cursor: pointer;
    font-size: 1.5 em;
    text-align: center;
    border-radius: .30rem;
    border: 2px solid #3d343e;
}



/* end quiz css button */


.index_btn {
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
     border-radius: .25rem;
     margin-bottom: 1em;
     width: 100%;
}

.pair_minimal_btn {
    background:#db9c97;
    color: #000000;
    margin-bottom: 3em;
    margin-top: 2em;
    padding: 10px 25px;
    width: 70%;
}

.phoneme_btn {
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 5em;
    line-height: 1;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
     border-radius: .25rem;
     margin: 1em;
}



.transparent{
    background:none;
    box-shadow:none;
    text-shadow:none;
    color:#000;
}


.red.transparent{
    border-color:#e84c3d;
}


.green {
    background:#10bc98;
    color: #000000;
    box-shadow: 0 3px 0 #0c8d72;
}
.green:hover{
    background:#13d7ae;
}
.green:active, .green:focus{
    background:#0fae8d;
}

.sound {
    width: 10%
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container>div {
  flex: 0 50%;
  box-sizing:border-box
}

.index_background {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.2) 0%, rgba(92, 77, 66, 0.8) 100%), url("../assets/img/background_index.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
}

.board_background {
    background: linear-gradient(70deg, #206359, #9bd4cb);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
}

.nav_bar_style {

}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;

}

.center_horizontally {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.app_title {
    padding: 8rem;
}

.consonant_sub_group {
   border-radius: 1em;
   padding: 1em;
   box-shadow: 1px 2px 2px rgba(155, 184, 206, .8);
   background-color: #B7DAF4;
   height: 4rem;
   margin: 1.5rem;
}

.phoneme_letter_style {
    font-size: 1.3rem;
    margin-right: 1.3rem;
    margin-left: 1.3rem;
}

.vowel_letter_style {
    font-size: 1.5rem;
}

.phoneme_letter_style:hover, .listen-button:hover, .vowel_letter_style:hover {
    font-weight: bold;
    cursor: pointer;
}

.info-section-consonant-title {
    color: #7B63A8;
    font-weight: bold;
    font-size: 1.15rem;
}

.subtype_section {
    font-size: 1.2rem;
}

.footer_padding {
  padding-bottom: 7em;
}

.page_title_padding {
  padding-top: 4em;
  padding-bottom: 2em;
}

.quiz_title_padding {
    padding: 1.5em;

}

.schema_section {
  border-radius: 2em;
  position: relative;
  width: 100%;
  height: 400px;
  /*text-align: center;*/
  background: white;
}

.breadcrumbs {
  font-size: 0.75rem;
  margin-bottom: 2em;
  text-align: left;
  padding-left: 1.5rem;
}

#warning {
  color: red;
  display: none;
  font-size: 1.4rem;
}

.save_score_button {
    color:#000000;
    font-weight: bold;
    font-size: 1.15rem;

}

.save_score_button:hover {
    color:#000000;
    text-decoration: none;
    text-shadow: #000000 1px 0 2px;
}

@media only screen and (max-width: 700px) {

  section {
    flex-direction: column;
  }
  .quiz_next_btn {
    width: 100%;
  }

  .consonant_sub_group {
        height: 9rem;
  }

  .quiz_replay_sound {
    width: 100%;
}
  }

@media only screen and (min-width: 701px) and (max-width: 900px) {

  .consonant_sub_group {
        height: 7rem;
  }
  }

@media only screen and (max-width: 1000px) {

  .quiz_replay_sound {
    width: 30%;
}
  }